.boxtotal {
  border: 1px solid rgb(200, 200, 200);
  width: 600px;
}

.box1 {
  width: 600px;
  padding: 15px;
}

.box1 .caticon {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50px;
  vertical-align: middle;
}

.box1 .cattext {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
  line-height: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.box1 .cattext .t1 {
  font-size: 20px;
  font-weight: bold;
}

.box1 .cattext .t2 {
  font-size: 20px;
  color: rgb(200, 200, 200);
}

.box1 .catbutton {
  border: none;
  background-color: rgb(66, 133, 181);
  color: white;
  font-size: 30px;
  padding: 10px 15px;
  border-radius: 5px;
  margin-left: 250px;
}



.box2 {
  width: 600px;
  padding: 15px;
}

.box2 .caticon {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50px;
  vertical-align: middle;
}

.box2 .cattext {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
  line-height: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.box2 .cattext .t1 {
  font-size: 20px;
  font-weight: bold;
}

.box2 .cattext .t2 {
  font-size: 20px;
  color: rgb(200, 200, 200);
}

.box2 .catbutton {
  border: none;
  background-color: rgb(66, 133, 181);
  color: white;
  font-size: 30px;
  padding: 10px 15px;
  border-radius: 5px;
  margin-left: 225px;
}



.box3 {
  width: 600px;
  padding: 15px;
}

.box3 .caticon {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50px;
  vertical-align: middle;
}

.box3 .cattext {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
  line-height: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.box3 .cattext .t1 {
  font-size: 20px;
  font-weight: bold;
}

.box3 .cattext .t2 {
  font-size: 20px;
  color: rgb(200, 200, 200);
}

.box3 .catbutton {
  border: none;
  background-color: rgb(66, 133, 181);
  color: white;
  font-size: 30px;
  padding: 10px 15px;
  border-radius: 5px;
  margin-left: 190px;
}



/*--------------------------------------*/

.boxtotal1 {
  margin-top: 20px;
  border: 1px solid rgb(200, 200, 200);
  width: 625px;
}

.box1y {
  width: 625px;
  padding: 15px;
}

.box1y img {
  width: 300px;
  object-fit: cover;
  vertical-align: middle;
}

.box1y .text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.box1y .text .t1 {
  margin-top: -22px;
  margin-bottom: 35px;
  font-weight: bold;
  width: 300px;
}

.box1y .text .t2 {
  color: rgb(147, 146, 146);
  font-size: 18px;
  line-height: 10px;
}







.box2y {
  width: 625px;
  padding: 15px;
}

.box2y img {
  width: 300px;
  object-fit: cover;
  vertical-align: middle;
}

.box2y .text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.box2y .text .t1 {
  margin-top: -22px;
  margin-bottom: 35px;
  font-weight: bold;
  width: 300px;
}

.box2y .text .t2 {
  color: rgb(147, 146, 146);
  font-size: 18px;
  line-height: 10px;
}







.box3y {
  width: 625px;
  padding: 15px;
}

.box3y img {
  width: 300px;
  object-fit: cover;
  vertical-align: middle;
}

.box3y .text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 21px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.box3y .text .t1 {
  margin-top: -15px;
  margin-bottom: 35px;
  font-weight: bold;
  width: 300px;
}

.box3y .text .t2 {
  color: rgb(147, 146, 146);
  font-size: 18px;
  line-height: 10px;
}